doctype html
html(lang="en")
head
	meta(charset='UTF-8')
	title Scatter
	link(rel='shortcut icon', type='image/x-icon', href='/images/scatter-favicon.ico')
	meta(name='viewport', content='width=device-width, initial-scale=1,user-scalable=no')
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/fonts/stylesheet.css')
	link(rel='stylesheet', href='/css/scatter.css')
body
	#hero.hero.hero__bg.hero__advertisers
		.hero-a
			.header.header-trans
				.container
					.row
						.col-md-4
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
								img(src='/images/i-menu.png', alt='')
							a.logo(href='/')
								img(src='/images/scatter-light.png', alt='Scatter-logo')
						.col-md-8
							.collapse.bs-navbar-collapse
								ul.links
									li
										a.active(href='/advertisers') advertisers
									li
										a(href='/publishers') publishers
									li
										a(href='/knowledge') knowledge
									li
										a(href='#contact') contact
									li
										a(href='/keystone/signin') Sign in
			.container
				.hero-content.tac
					h1.hd-1.mt content scored from the best publishers.
		.hero-b.tac
			h2.hd-1 to get your audience hooked.
			div.breathe
				img(src='/images/hero-scatter-logo.png', alt='')
			div.container(style='margin-top: -30px;')
				.row
					.col-xs-4.tac
						img(src='/images/i-context.png', alt='')
						h3.hd-3 create context
					.col-xs-4.tac
						img(src='/images/i-relationships.png', alt='')
						h3.hd-3 Build Meaningful Relationships
					.col-xs-4.tac
						img(src='/images/i-insights.png', alt='')
						h3.hd-3 Gain User Insights	
			div.hidden-xs.skip.tac
				a(href='#content')
					img(src='/images/i-arrow.png', alt='')
	#content.section
		.container
			h2.hd-2.tac how does scatter help advertisers?
			.row.breathe
				.col-md-3.mt.pb
					.tac
						h3.hd-3 unprecedented scale
						img(src='/images/i-time.png', alt='')
						p.brief-text Never before has procuring so much content been easier or faster &ndash; thanks to Scatter
				.col-md-3.mt.pb
					.tac
						h3.hd-3 Legal sourcing
						img(src='/images/i-legal.png', alt='')
						p.brief-text Every word on Scatter is backed by watertight legal terms with our partner publishers.
				.col-md-3.mt.pb
					.tac
						h3.hd-3 Daily Engagement
						img(src='/images/i-engagement.png', alt='')
						p.brief-text Our editorial calendar helps marketers scale content peaks with tremendous ease.
				.col-md-3.mt.pb
					.tac
						h3.hd-3 Guaranteed Quality
						img(src='/images/i-quality.png', alt='')
						p.brief-text Rub shoulders with &quot;best of breed&quot; content through our unique marketplace
			.tac
				p
					a.btn.btn-action(href='/files/scatter-advertiser-faqs.pdf', target='_blank') Want to know more? 
						b Download our FAQ
				p PDF Format - 247 KB
	#features
		.feature.feature-gray
			.container
				.row
					.col-md-4.hidden-xs
						img(src='/images/feature-dashboard.jpg', alt='')
					.col-md-8
						.feature-content
							h2.hd-2 Be more interesting
							p.brief-text Actively engage your consumers with content that taps into their interests and passion points. The more relevant the content, the more engaged the user.
		.feature.feature-alt
			.container
				.row
					.col-md-8
						.feature-content
							h2.hd-2 Quality content in minutes
							p.brief-text Source &apos;best of breed&apos; content within minutes. Scatter helps your content marketing initiative achieve the scale you always wanted, with legally sourced and easily available content.
					.col-md-4.hidden-xs
						img(src='/images/feature-searchresult.jpg', alt='')
		.feature.feature-gray
			.container
				.row
					.col-md-4.hidden-xs
						img(src='/images/feature-calendar.jpg', alt='')
					.col-md-8
						.feature-content
							h2.hd-2 Plan campaigns Better
							p.brief-text Make your content marketing initiatives more efficient with our unique editorial planning tool and use our analytics engine to track your content&rsquo;s engagement in detail.
	.section.section-dark
		.container.tac
			.customers.mt-mb
				a.customer.customer-coca-cola.active(data-cycle-cmd='goto', data-cycle-arg='0')
				a.customer.customer-starbucks(data-cycle-cmd='goto', data-cycle-arg='1')
				a.customer.customer-nikon(data-cycle-cmd='goto', data-cycle-arg='2')
			.testimonials.cycle-slideshow.mb(data-cycle-timeout='0', data-cycle-prev='#prev', data-cycle-next='#next', data-cycle-slides='> .testimonial', data-cycle-pager='.cycle-pager')
				.testimonial
					blockquote
						p.quote &quot;Scatter is an innovative product that adds speed and scale to our plethora of content offering. Given the team&apos;s experience in publishing and our want to stay ahead, we decided to take the plunge in this innovative offering.&quot;
					p.hd-3 - Club Mahindra
				.testimonial
					blockquote
						p.quote &quot;Arm Digital equips its clients with creative, technology, social, media and brand consulting solutions making them a complete DIGITAL ARM&quot;
					p.hd-3 - ARM Digital
				.testimonial
					blockquote
						p.quote &quot;Gionee as a brand has taken the perception of smartphones to a different level. It is known for various initiatives, risks and innovations brought to the mobility space&quot;
					p.hd-3 - Gionee
	#about
		.container
			.row
				.col-md-4.col-md-push-4.tac.mb
					img(src='/images/logo.png', alt='')
				.col-md-4.col-md-pull-4.tac
					img.hidden-xs(src='/images/i-about.png', alt='')
					p.brief-text Scatter is the first product from Spiral Content Solutions Pvt. Ltd. Our team boasts of several years of varied experience across firms like MTV, Blackstone and BBC etc. We believe this is a great time to realize our collective dream of creating exceptional content experiences by connecting content creators to brands.
				.col-md-4.tac
					img.hidden-xs(src='/images/i-connect.png', alt='')
					p.brief-text From former media executives to fresh graduates, our team is a great balance of experience &amp; new blood. Our shared love and vision for digital marketing brings us together. Our ambition is to create &ldquo;simple to use&rdquo; products that help brands connect with their audiences.
					p
						a.linkedin-link(target='_blank', href='http://www.linkedin.com/company/spiral-content-solutions') CONNECT ON LINKEDIN
	#interact.section
		.container
			.row
				.col-md-6.col-md-push-6
					.scatter-links.tac
						a.scatter-link.scatter-link-facebook(href='https://www.facebook.com/pages/Spiral-Content-Solutions-Pvt-Ltd/1534191826828446?ref=hl', target='_blank')
						a.scatter-link.scatter-link-twitter(href='https://twitter.com/spiralcontent', target='_blank')
						a.scatter-link.scatter-link-linkedin(href='http://www.linkedin.com/company/spiral-content-solutions', target='_blank')
						a.scatter-link.scatter-link-googleplus(href='https://plus.google.com/111365358324408730701', target='_blank')
						a.scatter-link.scatter-link-slideshare(href='http://www.slideshare.net/spiralcontent', target='_blank')
						a.scatter-link.scatter-link-pinterest(href='https://www.pinterest.com/spiralcontent/', target='_blank')
				#contact.col-md-6.col-md-pull-6
					.form
						h2.hd-2 Contact us
						form(action='http://www.spiral.media/sendmail/', method='POST')
							.row.mb
								.col-xs-6
									input.form-control(type='text', required='', name='first_name', placeholder='First Name')
								.col-xs-6
									input.form-control(type='text', required='', name='last_name', placeholder='Last Name')
							.row.mb
								.col-xs-6
									input.form-control(type='text', required='', name='phone', placeholder='Phone Number')
								.col-xs-6
									input.form-control(type='email', required='', name='email', placeholder='E-Mail')
							.row.mb
								.col-xs-6
									input.form-control(type='text', required='', name='company', placeholder='Company')
								.col-xs-6
									input.form-control(type='text', required='', name='job_function', placeholder='Job Function')
							textarea.form-control.mb(name='message', rows='5', placeholder='Message')
							.row
								.col-md-6.col-md-offset-6
									input.btn.btn-tertiary.btn-block(type='submit', value='Say hello')
							input(type='hidden', name='redirect_url', value='/advertisers/#thanks')

	#thanks
		.container.tac
			p Thanks for subscribing! Get ready to engage unfoolishly.
	#footer.hidden-xs
		.container.tac.footer-links
			p
				a(href='/advertisers') information for advertisers - 
				a(href='/files/scatter-advertiser-faqs.pdf', target='_blank') FAQs for advertisers - 
				a(href='/publishers') information for publishers - 
				a(href='/files/scatter-publisher-faqs.pdf', target='_blank') FAQs for publishers - 
				a(href='/knowledge') knowledge &amp; resource center
			p Copyright &copy; 2014 Spiral Content Pvt Ltd

	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/jquery.pin.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.swipe.min.js')
	script(src='/js/is.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/unveil/1.3.0/jquery.unveil.min.js')
	script(src='/js/scatter.js')
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59574487-1', 'scatter.solutions');
		ga('send', 'pageview');

